body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

button:focus {
  outline: 0;
}


/*-----------HEADER SECTION---------------*/

#header-section {
  background: url('images/header-background.jpeg');
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
  padding-bottom: 23em;
}

.header-content > h2 {
  color: #333;
  width: 15em;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.5em;
  font-size: 2em;
}

#logo {
  width: 10em;
  position: relative;
  bottom: 3em;
}

form {
  text-align: center;
  
}

input {
  border-radius: 5px;
  padding: 0.5em 1em;
  border: none;
}

input[type="submit"] {
  background-color: lightblue;
  margin-left: 1em;
  color: #fff;
  letter-spacing: 1px;
}

input:focus {
  outline: 0;
}

#results h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin-top: 1em;
  letter-spacing: 2px; 
}



/*--------------FUN FACTS SECTION------------*/

ul {
  list-style: none;
}

ul > li:first-child {
  margin-top: 1em;
}

ul > li > h3,
ul > li > p {
  display: inline-block;
}

ul > li > p {
  margin-left: 0.5em;
}

#image-funfacts img {
  border-radius: 5px;
  width: 20em;
  height: 20em;
  float: left;
  margin-right: 2em;
  border: 3px solid #fff;
}

#image-funfacts > p {
  margin-left: 0.5em;
}

#image-funfacts {
  max-width: 38em;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 5px;
  background: lightgray;
}

/*---Adds padding to #image-funfacts on append---*/
.padding {    
  padding:2em 2em 2em 2em;
}

.list {
  margin-top: 1em;
}

/*---------------ARTIST BUTTONS --------------------*/

#artist-btns {
  width: 46em;
  margin: 0 auto;
  padding-left: 0;
  margin-top: 2em;
  letter-spacing: 2px;
}

#artist-btns > li {
  display: inline-block;
  margin-right: 1em;
}

#artist-btns > li:last-child {
  margin-right: 0;
}

#artist-btns > li > button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 1em;
}


/*------------------MAIN CONTENT SECTION----------------*/

#main-content {
  clear: left;
  padding: 2em 0;
}

#main-content > ul {
  list-style: none;
  width: 35em;
  margin: 0 auto;
  padding-left: 0;
}

#main-content > ul > li {
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 0.1em 1em;
  margin-bottom: 1em;
}

#main-content > ul > li > a {
  text-decoration: none;
  color: #333;
}

#main-content > ul > li > a:hover {
  color: darkblue;
}

#main-content > ul > li > h3,
#main-content > ul > li > a > h3 {
  font-weight: 300;
  line-height: 1.4;
}

.onclick {
  background-color: #F5A623 !important;
}

