body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

button:focus {
  outline: 0;
}


/*-----------HEADER SECTION---------------*/

#header-section {
  background: url('images/header-background.jpeg');
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
  padding-bottom: 22em;
  padding-top: 1em;
}

.header-content > h2 {
  color: #777;
  width: 15em;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.5em;
  font-size: 2em;
}

#logo {
  width: 9em;
  margin-bottom: 10em;
}

form {
  text-align: center;
  
}

input {
  border-radius: 5px;
  padding: 0.5em 1em;
  border: none;
}

input[type="submit"] {
  background-color: lightblue;
  margin-left: 1em;
  color: #fff;
  letter-spacing: 1px;
}

input:focus {
  outline: 0;
}

#results h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  margin-top: 1em;
  letter-spacing: 2px; 
}



/*--------------FUN FACTS SECTION------------*/

ul {
  list-style: none;
}

ul > li:first-child {
  margin-top: 1em;
}

ul > li > h3,
ul > li > p {
  display: inline-block;
}

ul > li > p {
  margin-left: 0.5em;
}

#image-funfacts img {
  border-radius: 5px;
  width: 20em;
  height: 20em;
  float: left;
  margin-right: 2em;
  border: 3px solid #fff;
}

#image-funfacts > p {
  margin-left: 0.5em;
}

#image-funfacts {
  max-width: 38em;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 5px;
  background: lightgray;
}

/*---Adds padding to #image-funfacts on append---*/
.padding {    
  padding: 2em;
}

.list {
  margin-top: 1em;
}

/*---------------ARTIST BUTTONS --------------------*/

#artist-btns {
  width: 43em;
  margin: 0 auto;
  padding-left: 0;
  margin-top: 2em;
  letter-spacing: 2px;
  display: none;
}

#artist-btns > li {
  display: inline-block;
  margin-right: 1em;
}

#artist-btns > li:last-child {
  margin-right: 0;
}

#artist-btns > li > button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5em 1em;
}


/*------------------MAIN CONTENT SECTION----------------*/

#main-content {
  clear: left;
  padding: 2em 0;
}

#main-content > ul {
  list-style: none;
  width: 35em;
  margin: 0 auto;
  padding-left: 0;
}

#main-content > ul > li {
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 0.1em 1em;
  margin-bottom: 1em;
}

#main-content > ul > li:hover {
  background-color: #E36372;

}

#main-content > ul > li > a {
  text-decoration: none;
  color: #333;
}

#main-content > ul > li > a:hover {
  color: #fff;
}

#main-content > ul > li > h3,
#main-content > ul > li > a > h3 {
  font-weight: 300;
  line-height: 1.4;
}

#main-content > ul > .vids {
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  width: 20em;
}

#main-content > #vids > .vids > p {
  color: darkblue;
}

#main-content > #vids {
  width: 100%;
}

#main-content > #vids > .vids > a > img {
  border-radius: 5px;
}

#main-content > ul > li > a > .blog-header {
  font-weight: 500;
}

.onclick {
  background-color: #F5A623 !important;
}

#main-content > #video-player {
  width: 40em;
  margin: 0 auto;
  margin: 0 auto;
}


/*------------------Images ---------------------*/

#main-content > #image-list {
  width: 71em;
}
#main-content > #image-list > li {
  width: 15em;
  height: 15em;
  background-color: #fff;
  padding: 0;
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
}

#main-content > #image-list > li > a > img {
  width: 15em;
  height: 15em;
  display: inline-block;
  border-radius: 5px;
}

/*----------------MEDIA QUERIES------------------*/

@media only screen and (max-width: 1140px) {
  .container {
    width: 100%;
  }

  #header-section {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  }

  #main-content > #image-list {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #main-content > #image-list > li {
    width: 15em;
  }

  #main-content > #image-list > li > a > img {
    width: 15em;
    height: 15em;
    display: inline-block;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 800px) {
  #artist-btns {
    width: 90%;
  }
}

@media only screen and (max-width: 770px) {
  #artist-btns {
    width: 90%;
    margin: 0 auto;
  }

  .artist-btn {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 688px) {
  #main-content > .video-player {
    width: 10em;
  }
}

@media only screen and (max-width: 620px) {
  #main-content > ul {
    width: 95%;
  }

  #main-content > ul > li > h3,
  #main-content > ul > li > a > h3 {
    font-size: 1em;
}

@media only screen and (max-width: 550px) {
  #logo-container {
    width: 8em;
    margin: 0 auto;
  }

  #header-section {
    padding-left: 0em;
  }

  .header-content {
    width: 90%;
  }

  .header-content > h2 {
    font-size: 1.5em;
    width: 13em;
    margin-bottom: 0.75em;
  }

  #results {
    padding: 1em;
  }

  #image-funfacts img {
    border-radius: 5px;
    width: 100%;
    height: 20em;
    margin: 0 auto;
    margin-right: 0em;
    float: none;
  }

  #image-funfacts {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 5px;
    background: lightgray;
  }

  .list {
    margin-top: 0em;
  }

  .padding {
    padding-bottom: 1em;
  }

  #artist-btns {
    width: 80%;
  }

}

@media only screen and (max-width: 470px) {
  #artist-btns {
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .padding {
    padding: 2em;
  }

  #artist-btns > li {
    margin-right: 0.25em;
  }
}



